*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --primary-color: rgb(0, 174, 255);
  --secondary-color: rgb(236, 180, 76);
  --bg-color: rgb(204, 204, 204);
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--bg-color);
}

input {
  background: rgb(2, 125, 182);
  border-radius: 3px;
  text-align: center;
  font-size: 48px;
  width: 100%;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  appearance: none;
  color: #fff;
  padding: 10px;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: unset;
}

button,
.btn {
  padding: 15px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  background-color: #fff;
  color: #000;
}

button:hover,
.btn:hover {
  background-color: rgb(214, 214, 214);
  color: #000;
}

button.primary-btn {
  background-color: rgb(255, 201, 101);
}

button.primary-btn:hover {
  background-color: var(--secondary-color);
}

svg {
  width: 100px;
  height: 100px;
}

.grid {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border-radius: 8px;
  padding: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 12px 15px;
  transform: translateY(-10px);
}

.card:hover svg {
  color: var(--secondary-color);
}

.card svg {
  width: 60px;
  height: 60px;
  color: var(--primary-color);
}

.main {
  background-color: var(--primary-color);
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.main p {
  padding: 0 50px;
}

.reaction {
  cursor: pointer;
}

.verbal h1 {
  margin: 50px 0;
}

.status {
  display: flex;
  gap: 100px;
}

.number .loading {
  height: 5px;
  width: 150px;
  background-color: rgb(2, 125, 182);
}

.number .loading span {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: width 3s;
}

.aim .game {
  height: 100%;
  width: 100%;
}

.aim .game > div {
  background-color: rgb(231, 85, 85);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.aim svg {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.sequence .game,
.visual .game,
.chimp .game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  place-items: center;
}

.sequence .game > div,
.visual .game > div {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(2, 125, 182);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.sequence .game > .active,
.visual .game > .active {
  background-color: #fff;
}

.visual .game {
  grid-template-columns: 140px 140px 140px;
  grid-template-rows: 140px 140px 140px;
}

.visual .game > .wrong {
  background-color: rgb(0, 62, 90);
  animation: shake 0.2s ease-in-out;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes flick {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 100px;
}

.chimp .game {
  grid-template-columns: repeat(9, 60px);
  grid-template-rows: repeat(7, 60px);
  gap: 20px;
}

.chimp .game > div {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: rgba(255, 255, 255, 0.5) 4px solid;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  visibility: hidden;
}

.chimp .game > div:hover {
  border-color: #fff;
}

.chimp .game > .active {
  border-color: #fff;
  background-color: #fff;
}

.input {
  color: #000;
  background-color: #fff;
  margin: 20px 50px;
  padding: 20px;
  border-radius: 5px;
}

.input .line {
  position: absolute;
  font-size: 130%;
  font-weight: bold;
  margin: -4px -7px;
  animation: flick 0.8s;
  animation-iteration-count: infinite;
}

.input .right {
  background-color: rgb(94, 221, 94);
}

.input .wrong {
  background-color: rgb(255, 97, 97);
}
