*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(0, 174, 255);
  --secondary-color: rgb(236, 180, 76);
  --bg-color: rgb(204, 204, 204);
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--bg-color);
}

svg {
  width: 100px;
  height: 100px;
}

.grid {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border-radius: 8px;
  padding: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 12px 15px;
  transform: translateY(-10px);
}

.card:hover svg {
  color: var(--secondary-color);
}

.card svg {
  width: 60px;
  height: 60px;
  color: var(--primary-color);
}

.reaction {
  background-color: var(--primary-color);
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
